<footer class="footer">
  <div class="container">
    <span class="text-muted"><small><a href="https://gitlab.com/solebull/solebull.fr">Code libre Affero GPL</a>.</small></span>
  </div>
</footer>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
